body {
    margin: 0;
    padding: 0;
    /*    font-family: 'Raleway', sans-serif;*/

    font-family: 'Varela Round', sans-serif;
}
.header {
    background-color: #4e4e4e;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url("../image/CompanyWarehouse.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 250px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    list-style-type: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #ffffff;
    text-decoration:none;
    font-size: 13px;

}
.nav-links ul li::after{
    content: '';
    width:0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition:0.5s;
}
.nav-links ul li:hover::after {
    width: 100%
}
.text-box{
    width:90%;
    color: #ffffff;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 64px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #ffffff;
}
.About_Us {
    margin: 60px 0 10px;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 11px 34px;
    font-size: 13px;
    position: relative;
    cursor: pointer;
}
.About_Us:hover{
    border: 1px solid #00a3d8;
    background: #00a3d8;
    transition: 1s;
}
.Cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1em;
    max-width: 1100px;
    margin: 0 auto;
    min-height: 60vh;
}
.Cards *{
    box-sizing: border-box;
}
.Card {
    width: 300px;
    height: 450px;
    background: #191919;
    border-radius: 10px;
    box-shadow: rgba(100,100,111,0.2) 0 7px 29px 0;
    margin: 2em;
    transform-style: preserve-3d;
    perspective: 1000px;
}
.banner {
    height: 28.1em;
    background: linear-gradient(30deg,#C822FF 0%, #1A6DFF 100%);
    padding-top: 3em;
    border-radius: 10px 10px 0% 0%;
    border-radius: 10px;
}
.Card p {
    padding: 0 18px;
    color: #ffffff;
    text-align: justify;
}
.banner h2 {
    color: #ffffff;
    text-align: center;
}