body {
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
    /*    font-family: 'Raleway', sans-serif;*/
}
.header {
    background-color: #4e4e4e;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url("image/CompanyWarehouse.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 250px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #ffffff;
    text-decoration:none;
    font-size: 13px;

}
.nav-links ul li::after{
    content: '';
    width:0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition:0.5s;
}
.nav-links ul li:hover::after {
    width: 100%
}
.Choose {
    width: 300px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
    border-radius: 10px;
}
.Choose h1 {
    color: #ffffff;
}
.Choose ul li{
    list-style-type: none;
}
.Choose ul li a {
    border: 0;
    background: none;
    margin: 10px 23px;
    border: 2px solid #00a3d8;
    padding: 14px 10px;
    width: 150px;
    outline: none;
    color: white;
    border-radius: 24px;
    text-decoration: none;
    font-size: 14px;
    display: block;
    transition: 0.5s;
}
.Choose ul li a:hover {
    border: 2px solid #00a3d8;
    background: #00a3d8;
}