@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>
        A seller visits several doctors.
        While a doctor has several patients and at the same time can promote more than 1 drug of the same company.
        But a patient cannot take more than one medicine and sellers are allowed to visit the same doctor.
        The medicines reach the patients from the state pharmacies while the distributors are responsible for
        transporting medicines from the company to the state pharmacy.
        The company works with many distributors, and distributors ship the drugs to many state-run pharmacies. 
        The company consists of, among other things, the sellers. 
        Medicines are produced by the company, distributed by distributors promoted by sellers, prescribed by 
        doctors provided by state pharmacies and consumed by patients.

        We are here to give a defferent experience to all those people.
    </p>
</main>