@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Welcome to our Industry</h1>
        <p class="lead">Here you will find a lot of information about about what you need. Next you can select where you want to go depending on what you are.</p>
        <p><a href="https://github.com/PavlosTzitzos/database-project.git" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Company</h2>
            <p>
                The pharmaceutical company that employs us has 4 main departments: sales department, research and development department, general management department and human resources department. From these departments we are interested to know where the company's offices are located, the number of vendors working in it, the income and expenses (in general), the rate of production of medicines, the number of factories it has and finally which are the authorized distribution companies.
            </p>
            <p><a class="btn btn-outline-dark" href="../Companies">Login &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Salesman</h2>
            <p>For the seller we need his name, years of experience in the company, his salary, what drug of the company they have assigned him.</p>
            <p><a class="btn btn-outline-dark" href="../Salesmen">Login &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Distributor</h2>
            <p>These Distributors are those companies that distribute medicines by country, from the factory to the pharmaceutical warehouse (or state pharmacy). Therefore, we are interested in knowing the available distribution points, the location of the warehouses, the distribution range, the average expected time of shipment of medicine and the maximum capacity of their facilities.</p>
            <p><a class="btn btn-outline-dark" href="../Distributors">Login &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">State Deposit of Pharmaceuticals</h2>
            <p>State Pharmacy is the state's pharmacy in which, unlike private pharmacies, it concerns high-cost medicines. We are concerned about its location and the maximum capacity of the facilities, the distribution capacity (customer coverage range) and the cooperating Sharers.</p>
            <p><a class="btn btn-outline-dark" href="../sdops">Login &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Doctor</h2>
            <p>The doctor is the mediator between the seller and the patient. For him we need the name, his specialty, his years of experience, the address of the doctor's office, who the sellers who visit him and the number of cases he has concerning the drug.</p>
            <p><a class="btn btn-outline-dark" href="../Doctors">Login &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Patient</h2>
            <p>For the patient we are interested in his name, which doctor he sees, his age, gender, phone number, how long he takes the company's drugs, if he took another drug of another company.</p>
            <p><a class="btn btn-outline-dark" href="../Patients">Login &raquo;</a></p>
        </section>
    </div>
</main>